<header class="admin-header">
    <div class="logo-area">
        <span class="logo">logo</span>
    </div>
    <div class="profile">
		<!-- 로그인 여부 -->   
        <div class="prof-logut" th:unless="${#strings.isEmpty(admin)}">
            <img class="prof-img" src="../image/profile.png" width="100">
            <a class="prof-link" th:href="@{/admin/logout}">로그아웃</a>                   
        </div>
        <div class="prof-login" th:if="${#strings.isEmpty(admin)}">
            <a class="prof-link" th:href="@{/admin/loginPage}">로그인</a>
        </div>
        <!-- // 로그인 여부 -->
    </div>
</header>