<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="header">
	<div class="conts-header">
	    <div class="logo">
	        <a class="home-icon" href="/"></a>
	    </div>
	    <div class="menu-area">
    		<ul class="menu-group">
    			<li><a href="">INTRODUCTION</a></li>
    			<li><a href="/photo-album/list">PHOTO ALBUM</a></li>
    			<li><a href="/freedom/list">자유게시판</a></li>
    		</ul>
    	</div>
        <div class="loginYn">
            <span class="loginYn-text">
            	<a th:if="${session.ssUserId eq null}" href="/user/loginPage">로그인</a>
            	<a th:unless="${session.ssUserId eq null}" th:href="@{/user/logout}">로그아웃</a>
            </span>
            <span class="join-text">
            	<a th:if="${session.ssUserId eq null}" th:href="@{/joinView}">회원가입</a>
            	<a th:unless="${session.ssUserId eq null}" th:href="@{/myPage}">마이페이지</a>
            </span>
        </div>
	</div>
</th:block>
</html>