<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{./layout/basic_layout}">
<head>




</head>
<th:block layout:fragment="script">
<script type="text/javascript">
$(document).ready(function() {	
	initPage();
	registEvent();
	setDefault();
	getFreedomList();
});

const initPage = function() {
	
};

const setDefault = function() {
	
};

const registEvent = function() {
	$('.btn-write').on('click', function(e) {
		$(location).attr('href', 'regist');
	});
	
	$('.btn-search').on('click', function(e) {
		getFreedomList();
	});
	
	$('input[class="sch-word"]').on('keydown', function(e) {
		if (e.keyCode == 13) {
			e.preventDefault();
			getFreedomList();
		}
	});	
};


const getFreedomList = function() {
	const formData = $('form[name="searchForm"]').serializeObject();
	formData['boardType'] = $('input[name="parentType"]').val();
	formData['title'] = $('input[name="title"]').val();
	formData['writer'] = $('input[name="writer"]').val();
	
	$.ajax({
		data : JSON.stringify(formData),
		url : '/freedom/list-paging',
		type : 'post',
		dataType : 'json',
		contentType : 'application/json',
		beforeSend : function(xhr){
			xhr.setRequestHeader(header, token);
		}
	}).done(function (result, status, xhr) {
		const totalCount = result.totalCount;
		const totalPageNo = result.totalPageNo;
		const list = result.list;
		let html = '';
		if (totalCount == 0) {
			html += '<tr><td class="text-center h-200px align-middle" colspan="8">등록된 내용이 없습니다.</td></tr>';
		}
		
		$.each(list, function(idx, el) {
			html += '<tr>';
			html += '	<td>' + (el.boardIdx) + '</td>';
			html += '	<td><span class="viewBtn pointer" data-boardIdx="' + (el.boardIdx) + '">' + (el.title) + '</span></td>';
			html += '	<td>' + (el.writer) + '</td>';
			html += '	<td>' + (el.regDate) + '</td>';
			html += '	<td>' + (el.modifyDate) + '</td>';
			html += '</tr>';
		});

		$('.data-tbl tbody').html(html);
		$('.pagenation-area').html(result.pagingHTML);

		pagingFunc();
		viewFunc();
	}).fail(function (xhr, status, error) {
		alert("데이터를 가지고 오는데 실패하였습니다.");
	});
};

const pagingFunc = function() {
	$('.numbers-of-page .page-num').off('click').on('click', function (e) {
		e.preventDefault();
		if ($(this).hasClass('active') == false) {
			$('input[name="pageNo"]').val($(this).attr('data-pageNo'));
			getFreedomList();
		}
	});
};

const viewFunc = function() {
	$('.viewBtn').off('click').on('click', function (e) {
		e.preventDefault();
		const idx = $(this).attr('data-boardIdx');
		$('input[name="boardIdx"]').val(idx);
		$(location).attr('href', 'view?' + $('[name="searchForm"]').serialize());
	});
};

</script>
</th:block>
<th:block layout:fragment="content">
    <div class="conts">
		<form name="searchForm">
	       <input type="hidden" name="boardType" th:value="${parentType}"/>
	       <input type="hidden" name="boardIdx" value=""/>
	       <input type="hidden" name="pageNo" th:value="${boardDTO.pageNo}"/>
	       <input type="hidden" name="pageBlock" th:value="${boardDTO.pageBlock}"/>		
		</form>
        <div class="cont-body">
            <div class="sch-area">
            	<div class="sch-row">
	                 <label class="sch-lab">제목</label>
	                 <input type="text" class="sch-word" name="title" value="">
	                 <label class="sch-lab">작성자</label>
	                 <input type="text" class="sch-word" name="writer" value="">
	                 <button type="button" class="btn-search bgc-green">검색</button>
                </div>
            </div>
            <div class="data-area txt-center">
                <table class="data-tbl">
                    <colgroup>
                        <col style="width: 5%;">
                        <col style="width: 45%;">
                        <col style="width: 10%;">
                        <col style="width: 10%;">
                        <col style="width: 10%;">
                    </colgroup>                           
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>등록일</th>
                            <th>수정일</th>
                        </tr>
                    </thead>                       
                    <tbody>
                    </tbody>
                </table>
            </div>                
        </div>
        <div class="data-btn-area">
        	<button type="button" class="btn-write mg-rg7 pointer">글쓰기</button>
        </div>
        <div class="pagenation-area">
        	<div class="pagenation">
	        	<ul class="numbers-of-page">
	        		<li class="page-num">◁</li>
	        		<li class="page-num">1</li>
	        		<li class="page-num">2</li>
	        		<li class="page-num">3</li>
	        		<li class="page-num">4</li>
	        		<li class="page-num">5</li>
	        		<li class="page-num">6</li>
	        		<li class="page-num">7</li>
	        		<li class="page-num">8</li>
	        		<li class="page-num">9</li>
	        		<li class="page-num">10</li>
	        		<li class="page-num">▷</li>
	        	</ul>
        	</div>
        </div> 
    </div>
    
</th:block>
</html>