<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{./layout/basic_layout}">
<head>




</head>
<th:block layout:fragment="script">
<script type="text/javascript">
$(document).ready(function() {
	initPage();
	registEvent();
	setDefault();
});

const boardType = 02;
const boardTypeStr = 'freedom';

const initPage = function() {

};

const setDefault = function() {

};

const registEvent = function() {
	$('.btn-list').on('click', function(e) {
		$(location).attr('href', 'list');
	});
	
	$('.btn-write').on('click', function(e) {
		regist();
	});
};

const regist = function() {	
	var formData = {
		title : $('input[name="title"]').val(),
		content : $('textarea[name="content"]').val(),
		boardType : boardType,
		writer : $('td[class="ssUserId"]').text(),
		fileKey1 : $('input[name="fileKey1"]').val(),
		fileKey2 : $('input[name="fileKey2"]').val(),
		fileKey3 : $('input[name="fileKey3"]').val()
	};
	
	$.ajax({
		url : '/freedom/write',
		type : 'POST',
		dataType : 'json',
		contentType : 'application/json',
		data : JSON.stringify(formData),
		beforeSend : function(xhr){
			xhr.setRequestHeader(header, token);
		},		
		success : function(res) {
			if(res.message) {
				alert('등록 성공');
				$(location).attr('href', 'list');
			} else {
				alert('등록 실패');
			}
		},
		error : function(xhr, status, error) {
			console.log(error);
		}
	});	
};
</script>
</th:block>
<th:block layout:fragment="content">
        <div class="conts">
            <div class="location-guide">
	            <ul class="lg-ul">
	                <li>
	                    <span> HOME</span>
	                </li>              
	                <li>
	                    <span> 자유게시판 </span>
	                </li>
	                <li>
	                    <span> 등록 </span>
	                </li>
	            </ul>
            </div>
            <div class="cont-body">
                <div class="data-area">
                    <table class="data-tbl mg-top2">
	                    <colgroup>
	                        <col width="10%;">
	                        <col>
	                        <col width="10%;">
	                        <col>
	                    </colgroup>
	                    <tbody class="data-tbl-body">
	                        <tr>
	                            <th colspan="1" class="bgcolor-ccddbb">제목</th>
	                            <td colspan="3">
	                            	<input type="text" name="title" class="regist-input w95">
	                            </td>	                            
	                        </tr>
	                        <tr>
	                            <th colspan="4" class="bgcolor-ccddbb">내용</th>
	                        </tr>
	                        <tr>
	                            <td colspan="4">
	                            	<textarea name="content" class="regist-txtarea" rows="" cols=""></textarea>
	                            </td>
	                        </tr>
	                        <tr>
	                        	<th colspan="1" class="bgcolor-ccddbb">첨부파일</th>
	                        	<td colspan="3">
	                        		<div class="file-group">
	                        		
	                        		</div>
	                        		<button type="button" class="btn-addfile">추가</button>
	                        	<td>
	                        </tr>
	                        <tr>
	                            <th class="bgcolor-ccddbb" colspan="1">작성자</th>
	                            <td class="ssUserId" th:text="${session.ssUserId}"></td>
	                            <th class="bgcolor-ccddbb" colspan="1">등록일</th>
	                            <td>2022.04.22</td>
	                        </tr>
	                    </tbody>
                    </table>
                </div>
            </div>
            <div class="data-btn-area mg-top2">
            	<button type="button" class="btn-write mg-rg7">등록</button>
            	<button type="button" class="btn-list mg-rg1">목록</button>
            </div>              
        </div>
        
        
<!-- Modal -->
<div class="file-upload-modal" style="display: none;">
	<div class="modal-hd">
		<span>업로드할 파일을 선택하여 주십시오.</span>
	</div>
	<div class="modal-cont">
		<form method="POST" enctype="multipart/form-data" id="attachedFileForm"> 
			<div class="form-row">
				<input type="file" name="uploadFileName" class="uploadFile">
				<input type="hidden" name="boardType" value="02">
				<input type="hidden" name="boardTypeStr" value="freedom">
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn-upload">업로드</button>
		<button type="button" class="btn-close">닫기</button>
	</div>
</div>
<!-- //Modal -->
</th:block>
</html>