<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{./layout/basic_layout}">
<head>




</head>
<th:block layout:fragment="script">
<script type="text/javascript">
$(document).ready(function() {
	initPage();
	registEvent();
	setDefault();
});

const initPage = function() {

};

const setDefault = function() {

};

const registEvent = function() {
	$('.btn-list').on('click', function(e) {
		$(location).attr('href', 'list');
	});
	
	$('.btn-write').on('click', function(e) {
		regist();
	});
};

const regist = function() {	
	var formData = {
		title : $('input[name="title"]').val(),
		content : $('textarea[name="content"]').val(),
		boardType : $('input[name="parentType"]').val(),
		writer : $('td[class="ssUserId"]').text(),
		fileKeyList : getFileKeyList()
	};
	
	$.ajax({
		url : '/freedom/write',
		type : 'POST',
		dataType : 'json',
		contentType : 'application/json',
		data : JSON.stringify(formData),
		beforeSend : function(xhr){
			xhr.setRequestHeader(header, token);
		},
		success : function(res) {
			if(res.message) {
				alert('등록 성공');
				$(location).attr('href', 'list');
			} else {
				alert('등록 실패');
			}
		},
		error : function(xhr, status, error) {
			console.log(error);
		}
	});	
};
</script>
</th:block>
<th:block layout:fragment="content">
        <div class="conts">
            <div class="cont-body">
                <div class="data-area">
                    <table class="data-tbl mg-top2">
	                    <colgroup>
	                        <col width="10%;">
	                        <col>
	                        <col width="10%;">
	                        <col>
	                    </colgroup>
	                    <tbody class="data-tbl-body">
	                        <tr>
	                            <th colspan="1" class="bgcolor-ccddbb">제목</th>
	                            <td colspan="3">
	                            	<input type="text" name="title" class="regist-input w95">
	                            </td>	                            
	                        </tr>
	                        <tr>
	                            <th colspan="4" class="bgcolor-ccddbb">내용</th>
	                        </tr>
	                        <tr>
	                            <td colspan="4">
	                            	<textarea name="content" class="regist-txtarea" rows="" cols=""></textarea>
	                            </td>
	                        </tr>
	                        <tr>
	                        	<th colspan="1" class="bgcolor-ccddbb">첨부파일</th>
	                        	<td colspan="3">
	                        		<div class="file-group">
	                        		
	                        		</div>
	                        		<button type="button" class="btn-add-file">추가</button>
	                        	<td>
	                        </tr>
	                        <tr>
	                            <th class="bgcolor-ccddbb" colspan="1">작성자</th>
	                            <td class="ssUserId" th:text="${session.ssUserId}"></td>
	                            <th class="bgcolor-ccddbb" colspan="1">등록일</th>
	                            <td>2022.04.22</td>
	                        </tr>
	                    </tbody>
                    </table>
                </div>
            </div>
            <div class="data-btn-area mg-top2 mg-bottom1">
            	<button type="button" class="btn-list mg-rg15">목록</button>
            	<button type="button" class="btn-write mg-rg1">등록</button>
            </div>
        </div>
        
</th:block>
</html>