<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{./layout/basic_layout}">
<head>




</head>
<th:block layout:fragment="script">
<script type="text/javascript">
$(document).ready(function() {
	initPage();
	registEvent();
	setDefault();
});

const boardType = 02;
const boardTypeStr = 'freedom';

const initPage = function() {

};

const setDefault = function() {

};

const registEvent = function() {
	$('.btn-list').on('click', function(e) {
		$(location).attr('href', 'list');
	});
};
</script>
</th:block>
<th:block layout:fragment="content">
        <div class="conts">
            <div class="location-guide">
	            <ul class="lg-ul">
	                <li>
	                    <span> HOME </span>
	                </li>              
	                <li>
	                    <span> 자유게시판</span>
	                </li>
	                <li>
	                    <span> 조회 </span>
	                </li>
	            </ul>
            </div>
            <div class="cont-body">
                <div class="data-area">
                    <table class="data-tbl mg-top2">
	                    <colgroup>
	                        <col width="10%;">
	                        <col>
	                        <col width="10%;">
	                        <col>
	                    </colgroup>
	                    <tbody class="data-tbl-body">
	                        <tr>
	                            <th colspan="1" class="bgcolor-ccddbb">제목</th>
	                            <td colspan="3">
	                            	<span class="regist-input w95 flo-left" th:text="${freedom.board.title}"></span>
	                            </td>
	                        </tr>
	                        <tr>
	                            <th colspan="4" class="bgcolor-ccddbb">내용</th>
	                        </tr>
	                        <tr>
	                            <td colspan="4">
	                            	<span class="regist-txtarea w95 flo-left" th:text="${freedom.board.content}"></span>
	                            </td>
	                        </tr>
	                        <tr>
	                        	<th colspan="1" class="bgcolor-ccddbb">첨부파일</th>
	                        	<td colspan="3">
	                        		<div class="file-group">
	                        			<span th:unless="${freedom.board.fileName1 eq null}" class="attached-file">
	                        				<img class="file-icon"  src="/image/file_icon.png">
	                        				<span class="pointer" th:text="${freedom.board.fileName1}"></span>
	                        				<input type="hidden" name="fileKey" th:value="${freedom.board.fileKey1}">
	                        			</span>
	                        			<span th:unless="${freedom.board.fileName2 eq null}" class="attached-file">
	                        				<img class="file-icon"  src="/image/file_icon.png">
	                        				<span class="pointer" th:text="${freedom.board.fileName2}"></span>
	                        				<input type="hidden" name="fileKey" th:value="${freedom.board.fileKey2}">
	                        			</span>
	                        			<span th:unless="${freedom.board.fileName3 eq null}" class="attached-file">
	                        				<img class="file-icon"  src="/image/file_icon.png">
	                        				<span class="pointer" th:text="${freedom.board.fileName3}"></span>
	                        				<input type="hidden" name="fileKey" th:value="${freedom.board.fileKey3}">
	                        			</span>
	                        		</div>
	                        	<td>
	                        </tr>
	                        <tr>
	                            <th class="bgcolor-ccddbb" colspan="1">작성자</th>
	                            <td class="ssUserId" th:text="${freedom.board.writer}"></td>
	                            <th class="bgcolor-ccddbb" colspan="1">등록일</th>
	                            <td>2022.04.22</td>
	                        </tr>
	                    </tbody>
                    </table>
                </div>
            </div>
            <div class="data-btn-area mg-top2">
            	<button type="button" class="btn-list mg-rg7 pointer">목록</button>
            </div>
        </div>
</th:block>
</html>