@charset "UTF-8";

.conts{border: solid #ccc 1px; float: left; width: 100%;}

.f-left{float: left;}

.w100{width: 100%;}
.w90{width: 90%;}
.w95{width: 95%;}
.wd80{width: 80%;}
.w10{width: 10%;}

.mg-lf10{margin-left: 10%;}
.mg-rg10{margin-right: 10%;}

.mg-rg8{margin-right: 8%;}
.mg-rg7{margin-right: 7%;}
.mg-rg6{margin-right: 6%;}
.mg-rg5{margin-right: 5%;}
.mg-rg1{margin-right: 1%;}

.mg-lf20{margin-left: 20%;}
.mg-lf30{margin-left: 30%;}
.mg-lf50{margin-left: 42%;}

.mg-top1{margin-top: 1%;}
.mg-top2{margin-top: 2%;}

.mg-top10{margin-top: 10%;}

.txt-center{text-align: center;}
.txt-lf{text-align: left;}

.bgcolor-gray{background-color: #efefefef;}
.bgcolor-ccddbb{background-color: #ccddbb;}

.flo-left{float: left;}

.location-guide{float:left; width : 80%; margin-left : 13%; margin-right: 17%; margin-top : 3%; font-size : 14pt;}
.lg-ul li{float: left; width: 10%; list-style: none; text-align: center;}

.cont-body{float:left; width: 100%;}

.sch-area{float: left; width: 80%; margin-top: 1%; margin-left: 13%; margin-right: 17%; height : 200px;
border: solid #ddeecc 3px; border-radius: 5px;}

.sch-row{float:left; width: 100%; height: 50%; margin-top: 2%;}

.sch-lab{float: left; margin-right: 1%; font-size: 12pt; padding: 1%; color: #99aa88;}
.sch-word{float: left; height: 28%; margin: 0.5%; border: solid 1px #99aa88;}

.sch-btn-area{float: left; width: 100%; height: 100%;}
.btn-search{width: 5%; height: 15%; font-size: 12pt; background-color: #ccddbb; border: solid #bbccaa 1px; color: #aabb88;}
.btn-down{width: 5%; height: 15%; font-size: 12pt; background-color: #ccddbb; border: solid #bbccaa 1px; color: #aabb88;}

.data-tbl{float: left; width: 80%; margin-left: 13%; margin-right: 17%; text-align: center; border: solid 1px #aabb88;}
.data-tbl-body > tr{width: 100%; height: 40px;}

.data-btn-area{float: left; width: 100%;}

.pointer{cursor:pointer;}

.btn-list{float: right; width: 4%; height: 40px; font-size: 11pt; background-color: #ffffff; border: solid #ccddbb 1px; color: #ccddbb;}
.btn-write{float: right; width: 4%; height: 40px; font-size: 11pt; background-color: #99aa88; border: solid #ccddbb 1px; color: #ccddbb;}


.regist-input{height : 30px; padding-left: 2%; padding-right: 2%; border: solid #ccddbb 1px;}
.regist-txtarea{width: 95%; height : 300px; padding-left: 2%; padding-right: 2%; border: solid #ccddbb 1px; resize: none;}

.file-group{width: 95%;}
.attached-file{float:left; padding-bottom : 0.5%; margin-right: 1%;}
.attached-file > span {height : 30px;}
.attached-file > button {padding : 5px; height : 30px; font-size: 10pt;}
.btn-addfile{float:left; width: 5%; height : 30px; font-size: 10pt;}

/* paging */
.pagenation-area{float: left; width: 100%; height: 100px;}
.numbers-of-page{float: left; width: 80%; list-style: none; margin-left:36%;}

.page-num:first-child{float: left; width: 3%; height: 30px; text-align: center; color : #99aa88; border-left: solid #99aa88 1px;}
.page-num{float: left; width: 3%; height: 30px; text-align: center; color : #99aa88; 
padding-top: 0.5%; padding-bottom: 0.5%; border-top: solid #99aa88 1px; border-bottom: solid #99aa88 1px; border-right: solid #99aa88 1px;}
.page-num:hover {background-color: #99aa88; color: #ccddbb;}


/* Modal */
.file-upload-modal{
	position:absolute; float:left; background-color: white; border: solid 1px #99aa88; z-index: 1000; width: 35%; height: 200px;
	margin-left: 35%; margin-right: 35%; margin-top: 15%;
}

.modal-hd{float: left; width: 100%; text-align: center; margin-top: 5%; margin-bottom: 3%;}
.modal-hd span{color: #657654; font-size: 18px;}
.modal-cont{float: left; width: 100%; text-align: center; height: 40%;}

#attachFileForm{width:100%;}

.form-row{width:90%; margin-left:5%; margin-right:5%; color: #99aa88; border: solid 1px #99aa88; height: 40px; padding-top: 10px;}
.uploadFilemName{width:90%; height: 120px;}

.modal-footer{float: left; width: 100%;}
.btn-upload{background-color: #99aa88; border: solid #99aa88 1px; color : #fff7e6; width: 15%; height: 30px; margin-left: 35%;}
.btn-close{background-color: #99aa88; border: solid #99aa88 1px; color : #fff7e6; width: 15%; height: 30px;}
