<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="#">
    <link href="css/index.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/menu-control.js"></script>
	<title>게시판</title>
</head>
<body>
	<div id="wrap">
		<div th:replace="/include/header"></div>
        <div class="conts">
            <article class="slide-area">
                <div class="slide-imgs" >
                    <img src="image/img1.png" width="33.3%" height="600">
                    <img src="image/img2.png" width="33.3%" height="600">
                    <img src="image/img3.png" width="33.3%" height="600">
                </div>
            </article>
            <section class="conts-items">
                <div class="conts-item1">갤러리</div>
                <div class="conts-item2">배너</div>
                <div class="conts-item3">바로가기</div>
            </section>
        </div>
        <footer class="footer">
            <div class="copyright-area">
                <span>gasipan footer</span>
            </div>
        </footer>		
	</div>
</body>
</html>