<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
      
<mapper namespace="gasipan.repository.AttachedFileDAO">
	
	<insert id="insertAttachedFile" parameterType="gasipan.dto.AttachedFileDTO">
		INSERT INTO attached_file 
		(file_key, file_name, mime_type, parent_type, file_size) VALUES
		(#{fileKey}, #{fileName}, #{mimeType}, #{parentType}, #{fileSize})
	</insert>
	
	<delete id="deleteAttachedFile" parameterType="gasipan.dto.AttachedFileDTO">
		DELETE FROM attached_file WHERE file_key = #{fileKey}
	</delete>
	
	<update id="updateAttachedFile" parameterType="gasipan.dto.AttachedFileDTO">
		update attached_file 
		set parent_id  = #{parentId}
		where file_key = #{fileKey}		
	</update>
	
	<select id="selectAttachedFileByParentId" parameterType="gasipan.dto.AttachedFileDTO" 
	resultType="gasipan.vo.AttachedFileVO">
		SELECT
			file_key,
			file_name,
			parent_id,
			parent_type,
			mime_type,
			file_size 
		FROM attached_file
		WHERE parent_id = #{parentId} AND parent_type = #{parentType}
	</select>
	
</mapper>