<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
      
<mapper namespace="gasipan.repository.BoardDAO">

	<!-- 게시글 등록 boradTyep(01, '공지사항', 02, '자유게시판') -->
	<insert id="insertBoard" parameterType="gasipan.dto.BoardDTO">
		<selectKey keyProperty="boardIdx" order="BEFORE" resultType="Long">
			SELECT count(board_idx)+1 AS board_idx FROM board 
		</selectKey>	
		INSERT INTO board (
			board_idx, board_type, title, content, reg_date, modify_date
		<if test="fileKey1 != null and fileKey1 != ''">
		 	, file_key1
		 </if>
		 <if test="fileKey2 != null and fileKey2 != ''">
		 	, file_key2
		 </if>
		 <if test="fileKey3 != null and fileKey3 != ''">
		 	, file_key3
		 </if>
		 ) VALUES (
		#{boardIdx}, #{boardType}, #{title}, #{content}, #{regDate}, #{modifyDate}
		<if test="fileKey1 != null and fileKey1 != ''">
			, #{fileKey1}
		</if>
		<if test="fileKey2 != null and fileKey2 != ''">
			, #{fileKey2},
		</if>
		<if test="fileKey3 != null and fileKey3 != ''">
			, #{fileKey3}
		</if>)
	</insert>
	
</mapper>