<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
      
<mapper namespace="gasipan.repository.BoardDAO">

	<insert id="insertBoard" parameterType="gasipan.dto.BoardDTO" useGeneratedKeys="true" keyProperty="boardIdx" keyColumn="board_idx">
		<selectKey keyProperty="boardIdx" order="BEFORE" resultType="Long">
			SELECT count(board_idx)+1 AS board_idx FROM board 
		</selectKey>
		INSERT INTO board (board_idx, board_type, title, content, writer, reg_date, modify_date) VALUES (
		#{boardIdx}, #{boardType}, #{title}, #{content}, #{writer}, sysdate(), sysdate())
	</insert>
	
	<sql id="whereBoardList">
		WHERE 1=1
		<if test="boardType != null and boardType != ''">
			AND b.board_type = #{boardType}
		</if>
		<if test="title != null and title != ''">
			AND b.title LIKE CONCAT(CONCAT('%', #{title}), '%')
		</if>
		<if test="writer != null and writer != ''">
			AND b.writer LIKE CONCAT(CONCAT('%', #{writer}), '%')
		</if>
	</sql>
	
	<sql id="basicTable">
		SELECT
			board_idx,
			board_type,
			title,
			content,
			writer,
			DATE_FORMAT(reg_date, '%y-%m-%d') AS reg_date,
			DATE_FORMAT(modify_date, '%y-%m-%d') AS modify_date	
		FROM board b
	</sql>
	
	<select id="selectBoardCnt" parameterType="gasipan.dto.BoardDTO"
		resultType="long">
		SELECT count(*) FROM board b
		<include refid="whereBoardList"/>
	</select>
	
	<select id="selectBoardList" parameterType="gasipan.dto.BoardDTO" 
		resultType="gasipan.vo.BoardVO">
		<include refid="basicTable"/>
		<include refid="whereBoardList"/>
		ORDER BY b.board_idx DESC
		LIMIT #{pageSize} OFFSET #{pageOffset}
	</select>
	
	<select id="selectBoardByIdx" parameterType="gasipan.dto.BoardDTO" 
		resultType="gasipan.vo.BoardVO">
		SELECT 
			b.board_idx,
			b.title,
			b.board_type,
			b.content,
			b.writer,
			DATE_FORMAT(reg_date, '%y-%m-%d') AS reg_date,
			DATE_FORMAT(modify_date, '%y-%m-%d') AS modify_date		
		FROM board b
		WHERE b.board_type = #{boardType} 
		AND b.board_idx = #{boardIdx}
	</select>
	
	
	
</mapper>