<div class="menu-group">
    <ul class="menu-list">
        <li class="menu-elemt">메뉴1
        	<ul class="sub-menu-lst dn">
        		<li><a href="/admin/freedom/list">자유게시판</a></li>
        		<li>서브메뉴2</li>
        		<li>서브메뉴3</li>
        		<li>서브메뉴4</li>
        	</ul>
        </li>
        <li class="menu-elemt">메뉴2
        	<ul class="sub-menu-lst dn">
        		<li>서브메뉴1</li>
        		<li>서브메뉴2</li>
        		<li>서브메뉴3</li>
        		<li>서브메뉴4</li>
        	</ul>        
        </li>
    </ul>
    <ul class="menu-list">
        <li class="menu-elemt">메뉴3
        	<ul class="sub-menu-lst dn">
        		<li>서브메뉴1</li>
        		<li>서브메뉴2</li>
        		<li>서브메뉴3</li>
        		<li>서브메뉴4</li>
        	</ul>        
        </li>
    </ul>
    <ul class="menu-list">
        <li class="menu-elemt">메뉴4
        	<ul class="sub-menu-lst dn">
        		<li>서브메뉴1</li>
        		<li>서브메뉴2</li>
        		<li>서브메뉴3</li>
        		<li>서브메뉴4</li>
        	</ul>
        </li>
        <li class="menu-elemt">메뉴5
        	<ul class="sub-menu-lst dn">
        		<li>서브메뉴1</li>
        		<li>서브메뉴2</li>
        		<li>서브메뉴3</li>
        		<li>서브메뉴4</li>
        	</ul>        
        </li>
    </ul>                                
</div>